>TERC_1
GGGTTGCGGAGGGTGGGCCT
>TERC_2
GAGGGGTGGTGGCCATTTTT
>TERC_3
TTGAGAAGGGCGTAGGCGCC
>TERC_4
TTTTGCTCCCCGCGCGCTGT
>TERC_5
TTCTCGCTGACTTTCAGCGG
>TERC_6
GGAAAAGCCTCGGCCTGCCG
>TERC_7
TTCCACCGTTCATTCTAGAG
>TERC_8
CAAAAAATGTCAGCTGCTGG
>TERC_9
TTCGCCCCTCCCGGGGACCT
>TERC_10
TCGCCTGCCCAGCCCCCGAA
>TERC_11
CCGCCTGGAGGCCGCGGTCG
>TERC_12
CCGGGGCTTCTCCGGAGGCA
>TERC_13
CACTGCCACCGCGAAGAGTT
>TERC_14
GCTCTGTCAGCCGCGGGTCT
>TERC_15
GGGGGCGAGGGCGAGGTTCA
>TERC_16
CCTTTCAGGCCGCAGGAAGA
>TERC_17
AACGGAGCGAGTCCCCGCGC
>TERC_18
CGATTCCCTGAGCTGTGGGA
>TERC_19
TGCACCCAGGACTCGGCTCA
